//Colors
$off-black: #20222b;
$off-white:#a5afd7;
$off-white1:#f7f7f7;
$dark-blue:#333745;
$purple: #8357c5;
$blue: #3c4251;
$light-blue: #464b5e;
$dark-grey: #333;
$light-grey: #666;

//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.2rem;
$desktop-version: 45rem;